
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// App misc
.label-entry {  // mimic .label in bootstrap 
  color: #777;
  border: 1px solid #777;
  background-color: transparent;
}

.panel-heading-menu {
  float: right;
  color: rgba(0, 0, 0, .5);
  span {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }  
}

.view-enter-active, .view-leave-active {
  transition: opacity .3s ease;
}
.view-enter, .view-leave-active {
  opacity: 0;
}
